dist: trusty
language: php

cache:
  directories:
    - $HOME/.composer/cache/files
php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3

before_script:
    - COMPOSER_MEMORY_LIMIT=2G composer install --dev --no-interaction
script: vendor/bin/phpunit
